HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #a3c4d5; BACKGROUND: url(../images/body_bg.gif) #fff fixed repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px/18px Tahoma, Arial, Helvetica, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #f3f7f8; SCROLLBAR-SHADOW-COLOR: #75b1d1; COLOR: #333; SCROLLBAR-3DLIGHT-COLOR: #7a909b; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #b2ccd7; SCROLLBAR-DARKSHADOW-COLOR: #565656; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #a3c4d5; BACKGROUND: url(../images/body_bg.gif) #fff fixed repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px/18px Tahoma, Arial, Helvetica, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #f3f7f8; SCROLLBAR-SHADOW-COLOR: #75b1d1; COLOR: #333; SCROLLBAR-3DLIGHT-COLOR: #7a909b; SCROLLBAR-ARROW-COLOR: #ffffff; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #b2ccd7; SCROLLBAR-DARKSHADOW-COLOR: #565656; TEXT-ALIGN: center
}
#js_tooltip {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #fff3d3; FILTER: alpha(opacity=85) progid:DXImageTransform.Microsoft.shadow(direction=135,color=#9F9F9F,strength=3); PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: tahoma; TEXT-ALIGN: left; moz-opacity: 0.85
}
td{ font-size:12px;}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0079b8; TEXT-DECORATION: underline
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT: 12px Tahoma, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle
}
SELECT {
	FONT: 12px Tahoma, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle
}
TEXTAREA {
	FONT: 12px Tahoma, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle
}
.calendarButton {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/calendar_pic.gif) #fff; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 24px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.button {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/input-bg.gif) #fff repeat-x 50% top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 85px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}

.buttonlen {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BACKGROUND:url(../images/inputLen-bg.gif); background-repeat:repeat-x; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; LINE-HEIGHT: 24px; HEIGHT: 28px; BORDER-RIGHT-WIDTH: 0px}
TABLE IMG {
	VERTICAL-ALIGN: middle
}
.line {
	BORDER-BOTTOM: #d9dde1 1px solid
}
/*
#ModelCategorywrap {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 23px; TEXT-ALIGN: left;
	float:left; width:15%;
}
#ModelListwrap {
	PADDING-BOTTOM: 8px; PADDING-TOP: 23px; TEXT-ALIGN: left;
	float:left; width:83%;
}*/
#wrap {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; PADDING-TOP: 23px; TEXT-ALIGN: left;
}
#top {
	BACKGROUND: url(../images/top_bg.gif) repeat-x 50% bottom; HEIGHT: 74px; TEXT-ALIGN: left
}
#top-menu {
	MARGIN-LEFT: 180px; PADDING-TOP: 20px
}
#top-nav {
	BACKGROUND: url(../images/top-nav-bg.gif) #fff repeat-x 50% top; HEIGHT: 20px
}
#logo {
	MARGIN-TOP: 15px; PADDING-LEFT: 20px; FLOAT: left
}
.class {
	BORDER-RIGHT: #9bbac7 1px solid; BORDER-TOP: #9bbac7 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: #9bbac7 1px solid; WIDTH: 170px; BORDER-BOTTOM: #9bbac7 1px solid
}
.title-left {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/title-bg.gif) #c7dae4 repeat-x 50% top; BORDER-LEFT: #ffffff 1px solid; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 25px
}
.menu-left {
	PADDING-LEFT: 15px; BACKGROUND: #fff; LINE-HEIGHT: 22px
}
.content TABLE {
	BACKGROUND: #dee4e6; WIDTH: 100%
}
.content TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.content TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/th-bg.gif) #d3e1e8 repeat-x 50% top; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.content-td1 {
	BACKGROUND: #fff
}
.content-td2 {
	BACKGROUND: #f4f7f8
}
.content2 {
	BORDER-RIGHT: #778e99 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #778e99 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fff; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 10px; BORDER-LEFT: #778e99 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #778e99 1px solid
}
.content3 {
	BORDER-RIGHT: #778e99 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #778e99 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #778e99 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #778e99 1px solid; TEXT-ALIGN: center
}
.content-title {
	BORDER-RIGHT: #7a909b 1px solid; BORDER-TOP: #7a909b 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: url(../images/title-bg2.gif) repeat-x 50% top; BORDER-LEFT: #7a909b 1px solid; LINE-HEIGHT: 23px; BORDER-BOTTOM: #7a909b 0px solid; HEIGHT: 23px
}
#top-tags {
	PADDING-RIGHT: 0px; DISPLAY:inline; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 48px 40px 0px 0px; PADDING-TOP: 0px; HEIGHT: 30px
}
#top-tags UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#top-tags LI {
	BORDER-RIGHT: #b8e5ef 1px solid; BORDER-TOP: #b8e5ef 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../images/top-tags-bg2.gif) repeat-x 50% top; FLOAT: left; BORDER-LEFT: #b8e5ef 1px solid; MARGIN-RIGHT: 7px; BORDER-BOTTOM: #b8e5ef 0px solid; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
#top-tags LI A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; COLOR: #333; LINE-HEIGHT: 25px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#top-tags LI.top-selectTag {
	BORDER-RIGHT: #78a8bc 1px solid; BORDER-TOP: #78a8bc 1px solid; BACKGROUND: url(../images/top-tags-bg1.gif) repeat-x 50% top; MARGIN-BOTTOM: -1px; BORDER-LEFT: #78a8bc 1px solid; LINE-HEIGHT: 25px; BORDER-BOTTOM: #78a8bc 1px solid; POSITION: relative; HEIGHT: 25px
}
#tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 23px
}
#tags LI {
	BORDER-RIGHT: #9bbac7 1px solid; BORDER-TOP: #9bbac7 1px solid; BACKGROUND: url(../images/title-bg2.gif) #c7dae4 repeat-x 50% top; FLOAT: left; BORDER-LEFT: #9bbac7 1px solid; MARGIN-RIGHT: 3px; BORDER-BOTTOM: #9bbac7 0px solid; LIST-STYLE-TYPE: none; HEIGHT: 22px
}
#tags LI A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; COLOR: #333; LINE-HEIGHT: 23px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#tags LI.selectTag {
	FONT-WEIGHT: bold; BACKGROUND: #fff; MARGIN-BOTTOM: -1px; LINE-HEIGHT: 24px; POSITION: relative; HEIGHT: 23px
}
#tagContent {
	BORDER-RIGHT: #9bbac7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #9bbac7 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 10px; BORDER-LEFT: #9bbac7 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #9bbac7 1px solid
}
.tagContent {
	DISPLAY: none; WIDTH: 100%
}
#tagContent DIV.selectTag {
	DISPLAY: block
}
.page {
	FONT-SIZE: 11px
}
.page A:hover {
	BACKGROUND: #dee4e6; COLOR: #1b7faf; TEXT-DECORATION: none
}
.p {
	BORDER-RIGHT: #91abb8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #91abb8 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; BORDER-LEFT: #91abb8 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #91abb8 1px solid
}
.curpage {
	BORDER-RIGHT: #91abb8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #91abb8 1px solid; PADDING-LEFT: 5px; BACKGROUND: #c7dae4; PADDING-BOTTOM: 2px; BORDER-LEFT: #91abb8 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #91abb8 1px solid; TEXT-DECORATION: none
}
#bot {
	FONT-SIZE: 11px; LINE-HEIGHT: 30px; TEXT-ALIGN: center
}
.smalltext {
	FONT-SIZE: 11px
}
.huitext {
	COLOR: #999
}
.redtext {
	COLOR: #ff0000
}
.loading {
	BACKGROUND: #0568b2; COLOR: #fff; HEIGHT: 18px; TEXT-ALIGN: center
}
.closeTagOnMouseoverClass {
	CURSOR: hand
}
.shadow {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Color='gray',direction=145,strength=5)
}
.disable {
	DISPLAY: none
}
.enable {
	DISPLAY: block
}
.input {
	BORDER-RIGHT: #b6c2cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #b6c2cc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #b6c2cc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #b6c2cc 1px solid
}
.input1 {
	BORDER-RIGHT: #9ecc00 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9ecc00 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9ecc00 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #9ecc00 1px solid
}
.select {
	BORDER-RIGHT: #b6c2cc 1px solid; BORDER-TOP: #b6c2cc 1px solid; BORDER-LEFT: #b6c2cc 1px solid; BORDER-BOTTOM: #b6c2cc 1px solid
}
.ts_box {
	WIDTH: 187px
}
.ts_center {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #feffdd; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; COLOR: #666666; LINE-HEIGHT: 18px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.ts_center1 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #ffe6dd; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; COLOR: #666666; LINE-HEIGHT: 18px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#footer {
	BORDER-TOP: #a6c2cd 1px solid; BACKGROUND: #f0f7fa; COLOR: #7e7e7e; LINE-HEIGHT: 30px; height:30px; padding-top:6px;
}
/*2008-4-30*/
.divpadding{ width:98%; margin:0px; padding-bottom:5px; padding-top:5px;}
#Divpage{width:100%; margin:auto; text-align:left; padding-left:10px; padding-top:18px;}
#Divpage li{ float:left; width:auto; padding:2px;}
#Divpage li a { color:#333; font-size:12px; }
#Divpage li a:visited { color:#333; font-size:12px; }
#Divpage li a:hover { color:#0079b8; font-size:12px; }

#load{z-index:1;width:500px;height:25px;border:1px #a5cee1 solid; margin:auto;}
#loading{z-index:2;height:25px; width:500px; float:left;filter:progid:DXImageTransform.microsoft.gradient(gradienttype=1,startColorStr=white,endColorStr=#39867b);}

/*²Ëµ¥×¨ÓÃ*/
.dtree {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;color: #666;white-space: nowrap;}
.dtree img {border: 0px;vertical-align: middle;}
.dtree a {color: #333;text-decoration: none;}
.dtree a.node, .dtree a.nodeSel {white-space: nowrap;padding: 1px 2px 1px 2px;}
.dtree a.node:hover, .dtree a.nodeSel:hover {color: #333;text-decoration: underline;}
.dtree a.nodeSel { color:#003253; font-size:12px;}
.dtree .clip {overflow: hidden;}
